*{
    box-sizing: border-box;
}
body{
    background-image: url("image/pexels-rafael-guajardo-604684.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
section{
    background-color: blueviolet;

    width:50%;
    margin:20% auto;
    padding:2%;
    text-align: center;
    border-radius: 15px;
    border:solid 5px goldenrod;
    box-shadow: 4px 5px 10px rgba(0,0,0,0.5);
}

#inspiration{
    font-family: verdana;
    font-weight: bold;
    color:white;
}